<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--마이바티스 result, param 단축키 설정 -->
	<typeAliases>
<!--       <typeAlias type="kr.co.web.Vo.qnaVO" alias="qnaVO"></typeAlias>
      <typeAlias type="kr.co.web.Vo.replyVO" alias="replyVO"></typeAlias> -->
  </typeAliases>

</configuration>